.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

.main-title {
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.post + .post {
    margin-top: 50px;
}

.post-heading {
    border-bottom: 2px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.post-title:visisted {
    color: #333;
}

.post-date {
    font-size: 12px;
    color: #999;
}

.post-author {
    font-size: 12px;
        color: #999;
}

.post-content {
    margin: 5px 0px 10px;
}

header {
  margin: 30px 0;
  align-items: baseline;
}

.input-group-addon {
  font-size: 14px;
}