<article class="post">
  <div class="post-heading row align-items-baseline">
    <div class="post-author col col-auto col-md">{{ bp.author.username }}</div>
    <div class="post-date col col-md-auto">{{ bp.created.strftime("%Y.%m.%d %H:%M") }}</div>
    <a class="post-title col-12 col-md-auto flex-md-first" href="/posts/{{ bp.key().id() }}">{{ bp.title }}</a>
  </div>
  <div class="post-content">{{ bp.content }}</div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with action buttons">
    <form method="post" action="/posts/{{ bp.key().id() }}/likes">
      <div class="input-group">
        <p class="input-group-addon">{{ likes|length }}</p>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-secondary" type="submit"
                  {% if user.username == bp.author.username %}
                    disabled
                  {% endif %}>
            {% if user.username in likes|map(attribute='author')|map(attribute='username') %}
              Unlike
            {% else %}
              Like
            {% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>
</article>